body{
  display:flex;
  border: 5px solid #9AD0EC;
  border-radius: 10px;
  background-color: lightblue;
  padding: 3px 6px 3px 6px;
}

.box-1{
  border: 15px solid red;
  padding-right: 10px;
}

.box-2{
  border: 15px solid green;
  padding-right: 10px;
}

.box-3{
  border: 15px solid black;
  padding-right: 10px;
}